*
{
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

body
{
    font-size: 100%;
    background: linear-gradient(90deg, rgb(199, 113, 2), rgb(230, 120, 10));
}

.cabecalho
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

.logo-cabecalho
{
    height: 200px;
    margin-left: -200px;
}

.nav-cabecalho
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
}

.itens-cabecalho
{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: rgb(101, 3, 192);
}

.principal
{
    margin-bottom: 48px;
    border-top: 0.4px solid rgb(64, 0, 124);
}

.secao-um
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 48px;
}

.textos-secao-um
{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.titulo-secao-um
{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: rgb(64, 0, 124);
}

.subtitulo-secao-um
{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgb(101, 3, 192);
}

.botao
{
    background-color: saddlebrown;
    color: rgb(29, 0, 56);
    width: 210px;
    height: 90px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.img-pao
{
    height: 400px;
}

.secao-dois
{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
}

#titulo-quem-somos
{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: rgb(64, 0, 124);
}

.texto-quem-somos
{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgb(29, 0, 56);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 150px;
}